* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #22C1C3;
  background: linear-gradient(0deg, rgba(34, 193, 195, 0.95) 0%, rgba(45, 69, 253, 0.85) 100%);
  height: 94.9vh;
}